
.blog-cover-img{
    width: 600px;
    height:auto;
}
h1{
    letter-spacing: .07em;
    font-family:'Montserrat Alternates', sans-serif;
    color:#1f1d1e;
    text-align: center;
   padding-top: 70px;
   
}
.single-blog{
    text-align: left;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: 800px;
    color:#1f1d1e;
    padding-top:20px;
}
    .date{
        font-family:'Open Sans', sans-serif;
        font-weight: 300;
        text-align: left;
        color:#8a6982;
    }
.btn{
display:flex;
padding-top:20px;
    font-family: inherit;
    font-size: .96rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
    border-width: 2px;
    transition: .2s;

}
.btn:hover,
.btn:active,
.btn:focus {
       color:burlywood;
        text-decoration: none;

        
    }
    


.blog-text p{
    font-family:'Montserrat Alternates', sans-serif;
    max-width: 500px;
    font-weight: 300;
     font-size: 1rem;
     line-height:1.8rem;
    text-align:left;
    padding-bottom:20px;
   
}

body{
    background-color:#f0eef5;
 
}

.blog-container {

    padding: 30px 30px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .03);

    font-family: 'Open Sans', sans-serif;
font-weight: 100;
color:#1f1d1e;

min-width: 400px;
max-width: 900px;

margin:0 auto;




}
.blog-img{
    position: relative;

}


/* will develop later
blog-img img {
        transition: .2s;
    }

    .blog-img:hover  img{
        opacity: .7;
    }
    .blog-img {
        position: relative;
    }
    */
